body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  width: 500px;
}

#content {
    text-align: center;
}

hr {
    border: none;
    border-top: 1px dashed black;
}

i .fa {
    display: inline-block;
}

.fa-check {
    color: green;
}

.fa-times {
    color: red;
}

.fa-hand-paper-o {
    color: orange;
}

.item {
    font-size: x-large;
    margin: auto;
    display: block;
}

.hostname {
    width: 40%;
}

.hostname:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.option:hover {
    cursor: pointer;
}

.allow, .block, .scrub {
    width: 20%;
}

.alexa, .wot {
    width: 50%;
    font-size: large;
}

.extra {
    display: none;
    visibility: hidden;
    font-size: small;
    text-align: left;
}


/* Handle header style */
.header {
    position: relative;
}

.header h2, .header img {
    display: inline-block;
}

.header .settings {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: x-large;
}

.header .logo {
    position: relative;
    top: 50%;
}

.header .settings:hover {
    color: #2196f3;
    cursor: pointer;
}

.header .app_name {
    position: relative;
    top: 50%;
    font-size: xx-large;
}

.header .app_details {
    display: inline-block;
    position: relative;
    left: 20px;
}
